.cartContainer{
    display: flex;
    gap: 100px;
    justify-content: center;
    background: white;
    max-width: 900px;
    margin: 0 auto;
    height: 100vh;
    padding-top: 30px;
}

.cartTrack{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height:100vh;
    min-width: 350px;
    overflow-y: scroll;
}

.cart_card{
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 350px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.cart_card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.cart_card h1{
    font-size: 16px;
}
