.cartContainer{
    display: flex;
    gap: 100px;
    justify-content: center;
    background: white;
}

.cartTrack{
    max-height:300px;
    overflow-y: scroll;
}

.cart_card{
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 275px;
}

.cart_card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.cart_card h1{
    font-size: 12px;
}

.closeButton{
    position: absolute;
    right: 0;
    cursor: pointer;
}