.cart_container{
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    color: white;

}

.cart_track{
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    min-width: 800px;
    background: #7E9989;
    border-radius: 32px;
}

.cart_track hr{
    width: 100%;
}

.cart_title{
    display: flex;
    align-items: center;
    gap: 20px;
}

.cartTrack hr{
    width: 100%;
}

.cards{
    display: flex;
    flex-direction: column;
    gap:20px;
}


.cart_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 55px;
    background: #171F1A;
    color: white;
    border-radius: 16px;
}

.cart_card img{
    width: 100px;
    height: 150px;
    border-radius: 16px;
    cursor: pointer;
}

.cart_card h1{
    width: 200px;
    font-size: 18px;
    font-weight: 400;
}

.features_card{
    display: flex;
    align-items: center;
    gap: 10px;
}

.features_card svg{
    cursor: pointer;
}


.favours{
    max-width: 40px;
    cursor: pointer;
    fill: white;
    stroke:black ;
    transition: all 300ms ease;
}

.favours.active{
    fill: red;
    stroke: red;
    animation: sendToFavour 200ms ease forwards;
}

@keyframes sendToFavour {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.parameter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    padding: 10px 0 10px 10px;
    height: 100%;
    border-left:1px solid white;
    width: 100px;
}

.parameter h1{
    font-size: 12px;
}

.parameter p{
    font-size: 20px;
}

.parameter.card_counter p{
    font-size: 14px;
}


.card_counter{
    flex-direction: row;
    gap: 10px;
}

.card_counter button{
    background: none;
    border: 0;
    background: #7E9989;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    cursor: pointer;
    transition: all 150ms ease;
}

.card_counter button:active{
    transform: scale(1.2);
}







.cartResult{
    background: #7E9989;
    width: 400px;
    height: 300px;
    padding: 20px 20px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartResult div{
    display: flex;
    flex-direction: column;
}

.cartResult p{
    margin: 0;
}

.cartResult a{
    text-align: center;
    padding: 10px 0px;
    font-size: 24px;
    border-radius: 32px;
    text-decoration: none;
    color: white;
    background: #27332C;
    width: 100%;
}