.cart_container{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 30px auto;
    color: white;
}

.cart_track{
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #7E9989;
    border-radius: 32px;
}

.cart_track hr{
    width: 100%;
}

.cart_title{
    display: flex;
    align-items: center;
    gap: 20px;
}

.cartTrack hr{
    width: 100%;
}

.cards{
    display: flex;
    flex-direction: column;
    gap:20px;
}


.cart_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    background: #171F1A;
    color: white;
    border-radius: 16px;
}

.cart_card img{
    width: 100px;
    height: 150px;
    border-radius: 16px;
    cursor: pointer;
    margin: 10px 0;
}

.cart_card h1{
    width: 500px;
    font-size: 18px;
    font-weight: 400;
}

.features_card{
    display: flex;
    align-items: center;
    gap: 10px;
}

.features_card svg{
    cursor: pointer;
}


.favours{
    max-width: 40px;
    cursor: pointer;
    fill: white;
    stroke:black ;
    transition: all 300ms ease;
}

.favours.active{
    fill: red;
    stroke: red;
    animation: sendToFavour 200ms ease forwards;
}

@keyframes sendToFavour {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.trashbacket{
    cursor: pointer;
    transition: all 300ms ease;
    &:hover{
    color:red;
    animation: shake 300ms ease;
    }
}

@keyframes shake{
    0%{transform: rotate(0);}
    25%{transform: rotate(10deg);}
    50%{transform: rotate(-10deg)}
    75%{transform: rotate(10deg)}
    100%{transform: rotate(0);}
}

.parameters{
    display: flex;
    height: 100%;
    
}

.parameter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    height: 100%;
    border-left:1px solid white;
    width: 100px;
    padding: 0 10px 0 10px;
}

.parameter h1{
    width: 100%;
    font-size: 12px;
}

.parameter p{
    font-size: 20px;
}

.parameter.card_counter p{
    font-size: 14px;
}


.card_counter{
    flex-direction: row;
    gap: 10px;
}

.card_counter button{
    background: none;
    border: 0;
    background: #7E9989;
    color: white;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    transition: all 150ms ease;
}

.card_counter button:active{
    transform: scale(1.2);
}







.cartResult{
    background: #7E9989;
    max-height: max-content;
    padding: 20px 20px;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
}

.cartResult div{
    display: flex;
    flex-direction: column;
}

.cartResult p{
    margin: 0;
}

.cartResult a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    font-size: 16px;
    border-radius: 32px;
    text-decoration: none;
    color: white;
    background: #54695d;
    height: 100%;
    width: 100%;
    max-width: 50%;
    transition: all 500ms ease;
    &:hover{
        background: #27332C;
    }
}