.catalog_container{
    display: flex;
    gap: 30px;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.filters_panel{
    background: white;
    min-width: 300px;
    max-height: 500px;
}

.items_panel{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item_card{
    position: relative;
    background: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.item_card img{
    border-radius: 12px 12px 0 0;
    max-width: 300px;
}

.item_information {
    padding: 10px 20px;
}

.item_information h1{
    margin: 0;
    font-size: 24px;
}

.item_information button{
    background: none;
    outline: 0;
    border: 0;
    border: 1px solid black;
    width: 100%;
    padding: 10px 0;
    border-radius: 16px;
    transition: all 300ms ease;
    &:hover{
        color: white;
        background: #27332C;
    }
}

.item_card .favours{
    position: absolute;
    max-width: 30px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    fill: white;
    stroke:black ;
    transition: all 300ms ease;

}

.item_card .favours.active{
    fill: red;
    stroke: red;
    animation: sendToFavour 200ms ease forwards;
}

@keyframes sendToFavour {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}