.favoursTrack{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.favours_card{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background: white;
    padding-bottom: 5px;
    border-radius:13px;
    border:1px solid black ;
}

.favours_image{
    border-radius: 12px;
    width: 280px;
    height: 360px;
    object-fit: fill;
    overflow: hidden;
    cursor: pointer;
}

.favours_image img{
    width: inherit;
    height: inherit;
    height: 100%;
    border-radius: 12px 12px 0 0;
    transition: all 500ms ease;
}

.favours_image img:hover{
    transform: scale(1.2);
}

.favour_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    min-height: 150px;
}

.favour_info p{
    color: black;
    font-size: 18px;
    margin: 0;
}

.favours_card h1{
    padding: 0;
    max-width: 200px;
    font-size: 14px;
    background: none;
    color: black;
}

.favours_card button{
    background: white;
    outline: 0;
    border: 0;
    border: 1px solid black;
    width: 100%;
    padding: 10px 0;
    border-radius: 16px;
    cursor: pointer;
    transition: all 300ms ease;
    color: black;
    &:hover{
        color: white;
        background: #27332C;
    }
}

.favours{
    position: absolute;
    right: 15px;
    top: 15px;
    max-width: 30px;
    cursor: pointer;
    fill: red;
    stroke: red;
    transition: all 300ms ease;
    &:hover{
        transform: scale(1.1);
    }
}

@media (max-width:1200px) {
    .favoursTrack{
        min-height: 50vh;
    }
}