.personalCabinetBG{
    background: #7E9989;
    max-width: 1200px;
    margin: 30px auto;
    min-height: 600px;
    display: flex;
    border-radius: 32px ;
}

.sideBarMenu{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 20px;
    padding: 10px;
    background: #97afa1;
    border-radius: 16px 0 0 16px;
}

.buttonMenu{
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 20px;
    border-radius: 16px;
    background: white;
    transition: all 300ms ease;
    &:hover{
        background: rgba(255, 255, 255, 0.756);
    }
}

.display{
    padding: 20px ;
    background: white;
    width: 100%;
    max-width: 100%;
    border-radius: 0 16px 16px 0;
}



