.personalCabinetBG{
    background: #7E9989;
    max-width: 1300px;
    margin: 30px auto;
    width: 100%;
    display: flex;
    border-radius: 32px ;
}

.sideBarMenu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background: #97afa1;
    border-radius: 16px 0 0 16px;
}

.buttonMenu{
    text-align: center;
    padding: 20px;
    border-radius: 16px;
    background: white;
    transition: all 300ms ease;
    &:hover{
        background: rgba(255, 255, 255, 0.756);
    }
}

.display{
    padding: 20px ;
    background: white;
    width: 100%;
    border-radius: 0 16px 16px 0;
}

.profile{
    display: flex;
    justify-content: space-between;
}

.profileBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.profileIcon{
    width: 150px;
    height: 150px;
    border-radius: 128px;
}

.widgets{
    display: flex;
    gap: 20px;
    align-items: center;
}

.widgetBG{
    width: 300px;
    padding: 50px;
    border-radius: 32px;
    color: white;
    background: #7E9989;
    transition: all 500ms ease;
    cursor: pointer;
    &:hover{
        background: #617569; 
    }
}


.widgetInfo p{
    font-size: 24px;
}