.greeting{
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    height: 500px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("./img/aboutUs1.svg");
    border-radius: 128px;
}

.greetingUpText{
    text-align: center;
    color: white;
}

.greetingUpText h1{
    width: 740px;
    font-size:clamp(32px, 64px, 72px);
    margin-bottom: 0px;
}

.greetingUpText h2{
    margin-top: 15px;
    width: 730px;
    font-size: 32px;
}

.advantages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1300px;
    height: 500px;
    background-image: url("./img/aboutUs2.svg");
    background-size: cover;
    margin-bottom: 30px;
}

.advantage{
    color: white;
    text-align: center;
    width: 390px;
}

.advantage h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.advantage p{
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

.marketing{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 60px auto;
    text-align: center;
    color: white;
}

.marketingCards{
    display: flex;
    justify-content: space-between;
}

.marketingCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #7E9989;
    padding: 40px 45px;
    border-radius: 32px;
    box-shadow: 8px 8px 25px 7px rgba(0, 0, 0, 0.40);
    margin-bottom: 60px;
}

.marketingCard img{
    max-width: 150px;
}

.navButton{
    font-size: 24px;
    padding: 20px 0;
    border-radius: 32px;
    background: #7E9989;
    text-decoration: none;
    color: white;
    transition: all 300ms ease;
    &:hover{
        background: white;
        color: black;
    }
}
