.item_card{
    position: relative;
    background: white;
    border-radius: 17px;
    max-width: 240px;
    max-height: 600px;
    border: 1px solid gray;
}

.item_information{
    display: flex;
    flex-direction: column;
}

.item_image{
    border-radius: 16px;
    width: 240px;
    height: 330px;
    overflow: hidden;
    cursor: pointer;
}

.item_image img{
    width: inherit;
    height: inherit;
    object-fit: fill;
    border-radius: 12px 12px 0 0;
    transition: all 500ms ease;
}

.item_image img:hover{
    transform: scale(1.2);
}


.item_text{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    min-height: 170px;
}

.item_text h1{
    margin: 0;
    font-size: 16px;
    color: black;
}

.item_text p{
    margin: 0;
    color: black;
}

.item_text button{
    background: none;
    outline: 0;
    border: 0;
    border: 1px solid black;
    width: 100%;
    padding: 10px 0;
    border-radius: 16px;
    cursor: pointer;
    transition: all 300ms ease;
    &:hover{
        color: white;
        background: #27332C;
    }
}

.item_card .favours{
    z-index: 999;
    position: absolute;
    max-width: 30px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    fill: white;
    stroke:black ;
    transition: all 300ms ease;

}

.item_card .favours.active{
    fill: red;
    stroke: red;
    animation: sendToFavour 200ms ease forwards;
}

@keyframes sendToFavour {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.fullItemBG {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.76);
    z-index: 9999;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.fullItemContainer{
    max-width: 1200px;
    max-height: 700px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: #7E9989;
    padding: 20px 40px;
    border-radius: 16px;
    z-index: 9999;
}

.fullItemImageContainer{
    position: relative;
    box-shadow: 1px 1px 15px  rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    max-width: 400px;
    height: 600px;
}

.fullItemImageContainer img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 16px;

}

.fullItemTextContainer{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px 20px;
    border-radius: 16px;
    min-width: 500px;
}

.fullItemTitleContainer{
    display: flex;
    gap:0px;
    color: gray;
    font-size: 12px;
    margin-bottom: 10px;
}

.fullItemTitleContainer h1{
    font-size: 12px;
    margin: 0;
}

.fullItemName{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    max-width: 400px;
}

.fullItemDesc{
    background: rgb(241, 241, 241);
    border-radius: 16px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullItemDesc h1{
    text-align: center;
    font-size: 24px;
    max-width: min-content;
}

.fullItemBottomPanel{
    margin-top: auto;
}

.fullItemBottomPanel div{
    display: flex;
    justify-content: space-between;
}

.fullItemPrice{
    font-size: 48px;
    font-weight: 600;
    margin: 0;
}

.addToCartButton{
    background: none;
    border: 0;
    outline: 0;
    background: #7E9989;
    color: white;
    width: 50%;
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border-radius: 32px;
    transition: all 500ms ease;
}