.headerContainer{
    position: fixed;
    width: 100%;
    height: 75px;
    transition: all 500ms ease;
    z-index: 1000;
    background: #7E9989;
}


.menu{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.logo img{
    max-width: 60px;
}

.nav{
    position: relative;
    display: flex;
    gap:70px;
}

.nav a{
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

#deliverIcon{
    position:relative;
    display: flex;
    gap: 10px;
}

.counterCart{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 32px;

    background: white;
    color: black;
}

.counterCart.active{
    animation: apperanceCounter 300ms ease forwards;
}

.counterCart.noactive{
    transform: scale(0);
    animation: disapperanceCounter 300ms ease forwards;
}

.deliver_favour{
    display: flex;
    gap: 30px;
}

.deliver_favour img{
    max-width: 40px;
    cursor: pointer;
}

@keyframes apperanceCounter {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }

}

@keyframes disapperanceCounter {
    0%{
        transform: scale(1);
    }
    
    100%{
        transform: scale(0);
    }
}
