.headerContainer{
    position: fixed;
    width: 100%;
    height: 60px;
    background: rgb(0, 0, 0);
    transition: all 500ms ease;
}


.menu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:white;
}

.nav{
    display: flex;
    gap:75px;
}

.nav a{
    font-size: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.deliver_favour{
    display: flex;
    gap: 40px;
}

.deliver_favour img{
    cursor: pointer;
}