.headerContainer{
    position: fixed;
    width: 100%;
    height: 100px;
    background: rgb(0, 0, 0);
    transition: all 500ms ease;
    z-index: 1000;
}


.menu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:white;
}

.nav{
    display: flex;
    gap:75px;
}

.nav a{
    font-size: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.deliver_favour{
    display: flex;
    gap: 40px;
}

.deliver_favour img{
    cursor: pointer;
}

.popUpWindow{
    position: fixed;
    z-index: 2000;
    right: 0;
    top: 100px;
    color: black;
    background: white;
    width: clamp(200px, 300px, 400px);
    padding: 20px;
    min-height: 300px;
    border-radius: 16px 0 0 16px;
    animation: popUp 300ms ease;
}

@keyframes popUp {
    0%{
        transform: translateX(100%);
    }
    100%{
        transition: translateY(0);
    }
}