.headerContainer{
    position: fixed;
    width: 100%;
    height: 100px;
    background: rgb(0, 0, 0);
    transition: all 500ms ease;
    z-index: 1000;
}


.menu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:white;
}

.nav{
    display: flex;
    gap:75px;
}

.nav a{
    font-size: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

#deliverIcon{
    position:relative;
}

.counterCart{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 32px;
    top:0px;
    right: -10px;
    background: #7E9989;
    color: white;
}

.counterCart.active{
    animation: apperanceCounter 300ms ease forwards;
}

.counterCart.noactive{
    transform: scale(0);
    animation: disapperanceCounter 300ms ease forwards;
}

.deliver_favour{
    display: flex;
    gap: 40px;
}

.deliver_favour img{
    cursor: pointer;
}

@keyframes apperanceCounter {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }

}

@keyframes disapperanceCounter {
    0%{
        transform: scale(1);
    }
    
    100%{
        transform: scale(0);
    }
}
