.favoursBG{
    display: flex;
    border-radius: 32px;
    max-width: 1200px;
    margin: 30px auto;
    background: #7E9989;
}




.favoursTrack{
    display: flex;
    flex-wrap: wrap; 
    padding: 30px 40px;
    width: 100%;
}

.cards{
    display: flex;
    flex-wrap: wrap;

    gap:20px;
    width: 100%;
}

