.footer{
    background: #7E9989;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.footer a{
    text-decoration: none;
    color:white;
}

.footer ul{
    list-style: none;
}