.footer{
    background: black;
    color: white;
    display: flex;
    justify-content: space-around;
}

.footer a{
    text-decoration: none;
    color:white;
}

.footer ul{
    list-style: none;
}