@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body{
    background-color: #27332C;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.main{
    padding-top:60px ;
    min-height: 100vh;
}