.contactsBG{
    margin: 30px auto;
    border-radius: 32px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    background: #7E9989;
    color: white;
}

.panels{
    padding: 30px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.panels h1{
    margin-bottom:0 ;
}


.panel.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 49%;
}

.contactInfo{
    background: #27332C;
    padding: 20px;
    border: 2px solid white;
    border-radius: 16px;
}



.panel.right{
    min-height: 300px;
    width: 49%;
}

.panel.right iframe{
    height: 100%;
    width: 100%;
    border-radius: 16px;
}

