.slider{
    margin-bottom: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.slides{
    display: flex;
    gap: 30px;
    overflow-x: scroll;
}

.slides::-webkit-scrollbar{
    appearance: none;
}

.item_card{
    position: relative;
    background: white;
    border-radius: 16px;
    max-width: 300px;
    max-height: 600px;
}

.item_information{
    display: flex;
    flex-direction: column;
    height: 550px;
}

.item_image{
    border-radius: 16px;
    height: 400px;
    overflow: hidden;
}

.item_image img{
    width: 300px;
    height: 400px;
    object-fit: fill;
    border-radius: 12px 12px 0 0;
    transition: all 500ms ease;
}

.item_image img:hover{
    transform: scale(1.2);
}


.item_text{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    min-height: 140px;
}

.item_text h1{
    margin: 0;
    font-size: 16px;
}

.item_text p{
    margin: 0;
}

.item_text button{
    margin-top: auto;
    background: none;
    outline: 0;
    border: 0;
    border: 1px solid black;
    width: 100%;
    padding: 10px 0;
    border-radius: 16px;
    cursor: pointer;
    transition: all 300ms ease;
    &:hover{
        color: white;
        background: #27332C;
    }
}

.card_toCatalog{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 60px;
    opacity: 0.7;
    transition: all 300ms ease;
    background: #416e5441;
    color: white;
    border: 0;
    &:hover{
        opacity: 1;
    }
}

.card_toCatalog a{
    text-decoration: none;
    color: inherit;
    
}